{
    "openapi": "3.0.0",
    "info": {
        "description": "This belongs part of ETDStats microservices which will provide a analytics service",
        "version": "1.6.0",
        "title": "Analytics service",
        "termsOfService": "https://github.com/etherdata-blockchain"
    },
    "tags": [
        {
            "name": "analytics",
            "description": "Get blocks and transactions details"
        },
        {
            "name": "health",
            "description": "Get server's health info"
        }
    ],
    "servers": [
        {
            "url": "https://api.etdchain.net/stats/transaction",
            "description": "Production server"
        },
        {
            "url": "https://api.debugchain.net/stats/transaction",
            "description": "Testing server"
        }
    ],
    "paths": {
        "/analytics": {
            "post": {
                "tags": [
                    "analytics"
                ],
                "summary": "Send analytics data to server",
                "description": "Will returns the analytics result from server",
                "responses": {
                    "201": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/analytics"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Get server's health info",
                "description": "Will return a error reason if not healthy",
                "responses": {
                    "200": {
                        "description": "Server is up",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server is down",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "error": {
                "type": "object",
                "required": [
                    "reason"
                ],
                "properties": {
                    "services": {
                        "type": "array",
                        "title": "Services",
                        "items": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "ok",
                                        "warning",
                                        "error"
                                    ]
                                },
                                "total": {
                                    "type": "number",
                                    "example": 11,
                                    "description": "Total number of child services"
                                },
                                "numHealthyServices": {
                                    "type": "number",
                                    "example": 10,
                                    "description": "Number of services in healthy condition"
                                },
                                "isLeaf": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "If this is the leaf node (no children)"
                                },
                                "services": {
                                    "type": "array",
                                    "minItems": 0,
                                    "items": {
                                        "type": "object",
                                        "$ref": "#/components/schemas/error"
                                    }
                                }
                            },
                            "required": [
                                "status",
                                "total",
                                "numHealthyServices",
                                "isLeaf",
                                "services"
                            ]
                        }
                    }
                }
            },
            "analytics": {
                "type": "object",
                "required": [
                    "reason"
                ],
                "properties": {
                    "mobile": {
                        "type": "number",
                        "description": "Total number of mobile vistors"
                    },
                    "desktop": {
                        "type": "number",
                        "description": "Total number of desktop vistors"
                    },
                    "total": {
                        "type": "number",
                        "description": "Total number of vistors"
                    }
                }
            }
        }
    }
}