{
    "openapi": "3.0.0",
    "info": {
        "description": "This belongs part of ETDStats microservices which will provide a analytics service",
        "version": "1.5.0",
        "title": "Block Info service",
        "termsOfService": "https://github.com/etherdata-blockchain"
    },
    "tags": [
        {
            "name": "block-info",
            "description": "Get blocks and transactions details"
        },
        {
            "name": "node",
            "description": "Get nodes info"
        },
        {
            "name": "health",
            "description": "Get server's health info"
        }
    ],
    "servers": [
        {
            "url": "https://api.etdchain.net/stats/block_info",
            "description": "Production server"
        },
        {
            "url": "https://api.debugchain.net/stats/block_info",
            "description": "Testing server"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "block-info"
                ],
                "summary": "Get latest block info",
                "description": "Will returns the latest block info from server",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/block-info"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/nodes": {
            "get": {
                "tags": [
                    "node"
                ],
                "summary": "Get list of nodes (Pending)",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "health"
                ],
                "summary": "Get server's health info",
                "description": "Will return a error reason if not healthy",
                "responses": {
                    "200": {
                        "description": "Server is up",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server is down",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/blocks": {
            "get": {
                "tags": [
                    "block-info"
                ],
                "summary": "Get blocks",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Current page number.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "per",
                        "in": "query",
                        "required": false,
                        "description": "Number of items per page.",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "metadata": {
                                            "type": "object",
                                            "properties": {
                                                "page": {
                                                    "type": "number"
                                                },
                                                "per": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "results": {
                                            "$ref": "#/components/schemas/block"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/transactions": {
            "get": {
                "tags": [
                    "block-info"
                ],
                "summary": "Get blocks",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Current page number.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "per",
                        "in": "query",
                        "required": false,
                        "description": "Number of items per page.",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of blocks",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "metadata": {
                                            "type": "object",
                                            "properties": {
                                                "page": {
                                                    "type": "number"
                                                },
                                                "per": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "items": {
                                            "$ref": "#/components/schemas/transaction"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "error": {
                "type": "object",
                "required": [
                    "reason"
                ],
                "properties": {
                    "services": {
                        "type": "array",
                        "title": "Services",
                        "items": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "ok",
                                        "warning",
                                        "error"
                                    ]
                                },
                                "total": {
                                    "type": "number",
                                    "example": 11,
                                    "description": "Total number of child services"
                                },
                                "numHealthyServices": {
                                    "type": "number",
                                    "example": 10,
                                    "description": "Number of services in healthy condition"
                                },
                                "isLeaf": {
                                    "type": "boolean",
                                    "example": true,
                                    "description": "If this is the leaf node (no children)"
                                },
                                "services": {
                                    "type": "array",
                                    "minItems": 0,
                                    "items": {
                                        "type": "object",
                                        "$ref": "#/components/schemas/error"
                                    }
                                }
                            },
                            "required": [
                                "status",
                                "total",
                                "numHealthyServices",
                                "isLeaf",
                                "services"
                            ]
                        }
                    }
                }
            },
            "reason": {
                "type": "object",
                "required": [
                    "reason"
                ],
                "properties": {
                    "reason": {
                        "type": "string"
                    }
                }
            },
            "transaction": {
                "type": "object",
                "required": [
                    "hash",
                    "nonce",
                    "blockHash",
                    "blockNumber",
                    "transactionIndex",
                    "from",
                    "to",
                    "value",
                    "gasPrice",
                    "gas",
                    "input"
                ],
                "properties": {
                    "hash": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "number"
                    },
                    "blockHash": {
                        "type": "string"
                    },
                    "blockNumber": {
                        "type": "number"
                    },
                    "transactionIndex": {
                        "type": "number"
                    },
                    "from": {
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    },
                    "gasPrice": {
                        "type": "string"
                    },
                    "maxPriorityFeePerGas": {
                        "type": "string"
                    },
                    "maxFeePerGas": {
                        "type": "number"
                    },
                    "gas": {
                        "type": "number"
                    },
                    "input": {
                        "type": "string"
                    },
                    "block": {
                        "type": "object",
                        "description": "The block which contains this transaction",
                        "$ref": "#/components/schemas/block"
                    }
                }
            },
            "user": {
                "type": "object",
                "properties": {
                    "balance": {
                        "type": "string",
                        "description": "User balance in hex string"
                    },
                    "totalTransactionsReceived": {
                        "type": "number",
                        "description": "Total number of transaction received"
                    },
                    "totalTransactionsSent": {
                        "type": "number",
                        "description": "Total number of transaction sent"
                    },
                    "totalTransactions": {
                        "type": "number",
                        "description": "Total number of transactions"
                    },
                    "recentTransactions": {
                        "type": "array",
                        "description": "Transaction count group by date in last few days",
                        "items": {
                            "type": "object",
                            "properties": {
                                "date": {
                                    "type": "string",
                                    "description": "Date"
                                },
                                "count": {
                                    "type": "number",
                                    "description": "Number of transactions"
                                }
                            }
                        }
                    },
                    "transactions": {
                        "type": "array",
                        "description": "A list of transactions",
                        "items": {
                            "$ref": "#/components/schemas/transaction"
                        }
                    }
                }
            },
            "block": {
                "type": "object",
                "required": [
                    "size",
                    "difficulty",
                    "totalDifficulty",
                    "uncles",
                    "number",
                    "hash",
                    "parentHash",
                    "nonce",
                    "sha3Uncles",
                    "logsBloom",
                    "transactionRoot",
                    "stateRoot",
                    "receiptsRoot",
                    "miner",
                    "extraData",
                    "gasLimit",
                    "gasUsed",
                    "timestamp"
                ],
                "properties": {
                    "size": {
                        "type": "number"
                    },
                    "difficulty": {
                        "type": "number"
                    },
                    "totalDifficulty": {
                        "type": "number"
                    },
                    "uncles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "transactions": {
                        "type": "array",
                        "description": "A list of transactions within the block",
                        "items": {
                            "$ref": "#/components/schemas/transaction"
                        }
                    },
                    "number": {
                        "type": "string"
                    },
                    "hash": {
                        "type": "string"
                    },
                    "parentHash": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "sha3Uncles": {
                        "type": "string"
                    },
                    "logsBloom": {
                        "type": "string"
                    },
                    "transactionRoot": {
                        "type": "string"
                    },
                    "stateRoot": {
                        "type": "string"
                    },
                    "receiptsRoot": {
                        "type": "string"
                    },
                    "miner": {
                        "type": "string"
                    },
                    "extraData": {
                        "type": "string"
                    },
                    "gasLimit": {
                        "type": "number"
                    },
                    "gasUsed": {
                        "type": "number"
                    },
                    "timestamp": {
                        "type": "string"
                    },
                    "baseFeePerGas": {
                        "type": "number"
                    }
                }
            },
            "block-info": {
                "type": "object",
                "required": [
                    "numBlocks",
                    "numTransactions",
                    "blockTime",
                    "blockTimeHistory",
                    "difficultyHistory",
                    "chainId"
                ],
                "properties": {
                    "numBlocks": {
                        "type": "number",
                        "description": "Current block number"
                    },
                    "numTransactions": {
                        "type": "number",
                        "description": "Total number of transactions"
                    },
                    "blockTime": {
                        "type": "number",
                        "description": "Average time for each block in seconds"
                    },
                    "block": {
                        "$ref": "#/components/schemas/block",
                        "description": "Latest block"
                    },
                    "blockTimeChangePercentage": {
                        "type": "string",
                        "description": "Difference between latest block time and previous block time",
                        "example": "10.02%"
                    },
                    "difficultyChangePercentage": {
                        "type": "string",
                        "description": "Difference between latest block difficulty and previous block difficulty",
                        "example": "-10.02%"
                    },
                    "blockTimeHistory": {
                        "type": "array",
                        "description": "List of blocks' time",
                        "items": {
                            "type": "number"
                        }
                    },
                    "difficultyHistory": {
                        "type": "array",
                        "description": "List of blocks' difficulty",
                        "items": {
                            "type": "number"
                        }
                    },
                    "chainId": {
                        "type": "string",
                        "description": "ChainID in hex string"
                    },
                    "rpc": {
                        "type": "number",
                        "description": "RPC URL"
                    },
                    "numUncles": {
                        "type": "number",
                        "description": "Number of uncle blocks"
                    }
                }
            }
        }
    }
}